* { box-sizing: border-box; margin: 0; padding: 0; }
body { font-family: "Poppins", sans-serif; background: #ddd; }

main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* better than "height: 100vh;" for mobile devices */
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}