* { box-sizing: border-box; margin: 0; padding: 0; }
body { font-family: "Poppins", sans-serif; background: #ddd; }

.wrapper h2 {
    margin-top: 50px;
}

.output {
    margin-top: 40px;
}

.button {
    width: 80px;
    height: 45px;
    margin-top: 15px;
}